* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    background-color: #1E1E1E;
    background-image: url(resources/images/snake-right.png);
    background-position: right 1em;
    background-repeat: no-repeat;
    background-size: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 1em;
    padding-top: 6em;
    text-align: center;
    width: 100%;
}



.title {
    color: rgb(71, 255, 82);
    display: block;
    float: left;
    font-size: 1.2rem;
    height: 1rem;
    left: 0;
    padding: 1rem;
    position: fixed;
    -webkit-text-emphasis: 'v'rgb(125, 249, 255);
    text-emphasis: 'v'rgb(125, 249, 255);
    top: 0.8em;

}

.title img {
    display: block;
    float: left;
    height: 1em;
}

.hidden {
    display: none;
}

.wrapper-for-canvas {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    z-index: 8;
}

.canvas-main {
    bottom: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;
}

.canvas-bg {
    background-color: rgb(40, 42, 43);
    bottom: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
}

.over-canvas {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 8;
}

.screen {
    background-color: rgba(37, 37, 38, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5em;
}

.screen-msg {
    color: rgb(71, 255, 82);
    white-space: pre;
}

.display {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: rgb(37, 37, 38);
    background-color: transparent;
    color: rgb(107, 105, 105);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 2em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    left: 0;
    margin: 0.2em 0;
    position: absolute;
    top: -2em;
    width: 100%;
}

.display p {
    background-color: rgba(37, 37, 38, 0.8);
    color: rgba(71, 255, 82, 1);
    font-size: 0.7em;
    margin: 0 0.2em;
    width: 5em;
}

.display-value {
    display: block;
    padding-right: 0.1em;
    padding-top: 0.2em;
}

.disp-svg {
    float: left;
    height: 12px;
    width: 12px;
}

@media all and (min-width: 525px) {

    .display p {
        font-size: 1em;
        margin: 0 1em;
    }

    .disp-svg {
        height: 24px;
        width: 24px;
    }
}


.settings {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(38, 37, 37);
    color: white;
    display: none;
    font-size: 0.9em;
    height: 84%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em;
    width: 84%;
}


.settings-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: none;
    position: absolute;
    width: 3em;
}

button:hover,
button:focus {
    outline: none;

}

.settings-button--close {
    background-color: #1E1E1E;
    right: 0;
    top: -48px;
}

.settings-button--open {
    background-color: transparent;
    right: 0;
    top: -2px;
    top: -20px;
}

.settings-title {
    font-size: 1.1em;
    margin-bottom: 1.1em;
}

.button-field {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 1em 0;
    width: 100%;
}

.button-label {
    margin-right: 1em;
}

.toggle-button {
    background-color: black;
    border-radius: 40%;
    border: none;
    display: block;
    height: 20px;
    padding: 3px;
    position: relative;
    width: 40px;
}

.toggler {
    background-color: grey;
    border-radius: 50%;
    display: block;
    height: 16px;
    left: -3px;
    position: absolute;
    top: 0;
    width: 16px;
}

select {
    background-color: rgb(42, 42, 42);
    background-color: transparent;
    border-radius: 10%;
    border: 5px solid rgb(42, 42, 42);
    color: rgb(71, 255, 82);
    font-size: 1.5em;
    padding: 0.5rem;
}

select option {
    font-size: 0.8em;
    padding: 0.5rem;
}

.on {
    background-color: rgb(71, 255, 82);
    left: 23px;
}

/* 
.footer {
    bottom: 0;
    color: rgb(107, 105, 105);
    left: 0;
    position: absolute;
    width: 100%;
    text-align: left;
} */

.about-link {
    color: rgb(125, 249, 255);
    font-size: 1.2em;
}

.about-link:hover,
.about-link:focus {
    color: rgb(71, 255, 82);
    cursor: pointer;
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    color: #687b91;
    font-size: 0.8em;
    margin-top: 3.8rem;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
}

.github-link {
    border-radius: 50%;
    color: #687b91;
    display: block;
    margin: auto;
    text-decoration: none;
}


.github-link>img {
    height: 32px;
    margin: auto;
    width: 32px;
}

.touch-controls {
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    background-color: #1E1E1E;
    background-color: black;
    background-color: transparent;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    color: white;
    overflow: hidden;
    height: 160px;
    box-sizing: border-box;
}

.touch-sides-wrapper {
    width: 100%;
    display: flex;
    height: 55px;
}

.touch-up {
    margin-top: 5px;
}

.touch-up,
.touch-down {
    width: 100%;
    height: 55px;
    background-color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.touch-left {
    margin-right: 50px;
}

.touch-left,
.touch-right {
    width: 100%;
    height: 100%;
    background-color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}