* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #1E1E1E;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(resources/images/snake-right.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center bottom;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    float: left;
    color: rgb(71, 255, 82);
    display: block;
    text-emphasis: 'v'rgb(248, 55, 31);
    height: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 1.2rem;

}

.title img {
    display: block;
    float: left;
    height: 1em;
}

.hidden {
    display: none;
}

.wrapper-for-canvas {
    position: relative;
    z-index: 10;
}

.canvas-main {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    opacity: 0.5;
}

.canvas-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    z-index: 8;
}

.over-canvas {
    position: absolute;
    background-color: rgb(38, 37, 37);
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

}

.screen {
    background-color: transparent;
    background-color: rgba(37, 37, 38, 0.8);
    padding: 1em;
    display: block;
}

.screen-msg {
    color: rgb(71, 255, 82);
    white-space: pre;
}

.display {
    position: absolute;
    top: -2em;
    left: 0;
    width: 100%;
    height: 2em;
    background-color: rgb(37, 37, 38);
    background-color: transparent;
    margin: 0.2em 0;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgb(107, 105, 105);
}

.display p {
    margin: 0 1em;
    font-size: 0.7em;
}

.disp-svg {
    width: 12px;
    height: 12px;
}

@media all and (min-width: 525px) {

    .display p {
        margin: 0 1em;
        font-size: 1em;
    }

    .disp-svg {
        width: 24px;
        height: 24px;
    }
}


.settings {
    color: white;
    padding: 1em;
    display: none;
    background-color: rgb(38, 37, 37);
    width: 80%;
    font-size: 0.9em;
    height: 80%;
    align-items: center;
    justify-content: center;
}


.settings-button {
    width: 2.5em;
    height: 2.5em;
    display: block;
    position: absolute;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.settings-button--close {
    background-color: rgb(248, 55, 31);
    top: -2em;
    right: 0;
    width: 2.6em;
    height: 2.6em;
}

.settings-button--open {
    top: -2px;
    right: 0;
    background-color: transparent;

}

.settings-title {
    margin-bottom: 1.6em;
    font-size: 1.2em;
}

.button-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
}

.button-label {
    margin-right: 1em;
}

.toggle-button {
    display: block;
    background-color: black;
    width: 40px;
    height: 20px;
    padding: 3px;
    border-radius: 40%;
    position: relative;
    border: none;
}

.toggler {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    left: -3px;
    top: 0;

}

select {
    background-color: transparent;
    background-color: rgb(42, 42, 42);
    color: rgb(71, 255, 82);
    border: 5px solid rgb(42, 42, 42);
    padding: 0.5rem;
    border-radius: 10%;
    font-size: 1.5em;
}

select option {
    background-color: blue;
    font-size: 0.8em;
    padding: 0.5rem;
}

.on {
    background-color: rgb(71, 255, 82);
    left: 23px;
}